<footer class="footer">
    <div class="container">
        <div id="footer-primary">
            <span class="">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Hotstat.us <i class="fa fa-gg footer-sep" aria-hidden="true"></i> Contact <i class="fa fa-gg footer-sep" aria-hidden="true"></i> F.A.Q. <i class="fa fa-gg footer-sep" aria-hidden="true"></i> Support Hotstat.us on Patreon! <i id="footer-heart" class="fa fa-heart" aria-hidden="true"></i></span>
        </div>
        <div id="footer-secondary">
            Heroes of the Storm is a trademark of Blizzard Entertainment, Inc.
        </div>
    </div>
</footer>