<div class="text-center">
    <div data-toggle="tooltip" class="d-inline-block social-button st-custom-button" data-network="facebook" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div>
    <div data-toggle="tooltip" class="d-inline-block social-button st-custom-button" data-network="twitter" title="Share on Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></div>
    <div data-toggle="tooltip" class="d-inline-block social-button st-custom-button" data-network="reddit" title="Share on Reddit"><i class="fa fa-reddit-square fa-2x" aria-hidden="true"></i></div>
    <div data-toggle="tooltip" class="d-inline-block social-button st-custom-button" data-network="googleplus" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></div>
</div>