<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hotstat.us{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body {
                background: #000008;
                background-image: url('{{ asset('ui/bg.jpg', 'images') }}');
                background-repeat: no-repeat;
            }
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <script>{% block dynamicVariables %}{% endblock %}</script>
        {% include ':snippets:navigation.html.twig' %}
        {% block body %}{% endblock %}
        {% include ':snippets:footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function() {
                {% block tailJavascript %}{% endblock %}
                if (Hotstatus.advertising.internal.generateByDefault) {
                    Hotstatus.advertising.generateAdvertising();
                }
            });
        </script>
    </body>
</html>
