<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109505297-1"></script>
        <script>
            try {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());
                gtag('config', 'UA-109505297-1');
            }
            catch (e) {
                //Google Analytics exception - fail quietly
            }
        </script>
        <meta charset="UTF-8" />
        <meta name="application-name" content="Hotstat.us">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Hotstat.us is a web application with which you can view Heroes of the Storm statistics parsed from player-submitted replay files. View your favorite hero's stats, or visit your own personal player page to see your recent matches, hero, and map statistics. ">
        <meta name="keywords" content="Heroes of the Storm, HotS, statistics, stat, stats, player, hero, heroes, storm, hotstat, hotstatus, hotstat.us, moba, dota, aeon of strife, blizzard, warcraft, diablo, starcraft, overwatch, the lost vikings, patch, patches, filter, aggregation, aggregate, analytics, win, winrate, play, playrate, video-game, video, game, talent, talents, matchups, profile, party, op, gg">
        <title>Hotstat.us{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body {
                background: #000008;
                background-image: url('{{ asset('ui/bg.jpg', 'images') }}');
                background-repeat: no-repeat;
            }
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <script>{% block dynamicVariables %}{% endblock %}</script>
        {% include ':snippets:navigation.html.twig' %}
        {% block body %}{% endblock %}
        {% include ':snippets:footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function() {
                {% block tailJavascript %}{% endblock %}
                if (Hotstatus.advertising.internal.generateByDefault) {
                    Hotstatus.advertising.generateAdvertising();
                }
            });
        </script>
    </body>
</html>
