{% extends 'base.html.twig' %}

{% use ':snippets:stdassets.html.twig' with javascripts as stdjavascripts, stylesheets as stdstylesheets %}
{% use ':snippets/heroes:statslist.html.twig' with javascripts as hsljavascripts %}

{% block body %}
    <div class="container-fluid bg-info">
        <div class="row">
            <div class="col">
                {% include ':snippets:heroes/top_role_winrates/table.html.twig' %}
            </div>
            <div class="col">
                {% include ':snippets:heroes/top_role_playrates/table.html.twig' %}
            </div>
            <div class="col">
                {% include ':snippets:heroes/top_role_banrates/table.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <div class="text-center">
                    {% include ':snippets:advertising/responsive.html.twig' %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% embed ':snippets:heroes/statslist.html.twig' %}
                    {% block javascripts %}{% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <div class="text-center">
                    {% include ':snippets:advertising/responsive.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ block('stdstylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ block('stdjavascripts') }}
    {{ block('hsljavascripts') }}
{% endblock %}

