{% extends 'base.html.twig' %}

{% include ':snippets:stdassets.html.twig' %}

{% block body %}
    <div class="container-fluid bg-info">
        <div class="row">
            <div class="col">
                {% include ':snippets:heroes/top_role_winrates/table.html.twig' %}
            </div>
            <div class="col">
                {% include ':snippets:heroes/top_role_playrates/table.html.twig' %}
            </div>
            <div class="col">
                {% include ':snippets:heroes/top_role_banrates/table.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

