{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/bootstrapStyle.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/jquery.js') }}"></script>
    <script src="{{ asset('build/popper.js') }}"></script>
    <script src="{{ asset('build/bootstrap.js') }}"></script>
{% endblock %}

