{% extends 'base.html.twig' %}

{# Include snippets and then alias their blocks so as to order them as needed #}
{% use ':snippets:stdassets.html.twig' with javascripts as stdjavascripts, stylesheets as stdstylesheets %}
{#% use ':snippets:rankings/rankingsloader.html.twig' with javascripts as rankingsloaderjavascripts %#}

{# Append to title #}
{% block title %}
    : News
{% endblock %}

{# Inject dynamic content variables #}
{% block dynamicVariables %}
{% endblock %}

{# Custom styling that require the use of path generation #}
{% block style %}
{% endblock %}

{% block body %}
    {# Begin HTML #}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    {% include ':snippets:advertising/responsive_horizontal.html.twig' %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-12 col-xl-8">
                <div class="hotstatus-container">
                    <div class="headsup-announcement">
                        Service Announcement: Hotstatus is currently migrating to a new database and cloud provider, recently uploaded replays will not be processed until after migration is complete.
                    </div>
                    <div class="hotstatus-subcontainer contact-container">
                        Hotstat.us is a web application with which you can view Heroes of the Storm statistics parsed from player-submitted replay files.
                        <br><br>
                        View your favorite hero's stats, or visit your own personal player page to see your recent matches, hero and map statistics.
                        <br><br>
                        Check back here in the future for any news regarding updates to the site (a blog format is in the works)!
                        <br><br>
                        Over <div class="d-inline-block"><h5>1,220,000</h5></div> replays have been processed for <div class="d-inline-block"><h5>960,000</h5></div> unique players since September 2017!
                        <br><br>
                        <h5>News (2017-12-21):</h5>
                        <ul>
                            <li>Updated date filter to include new 2.29.5 Balance Patch, cycling out oldest 2.27.3 Kel'thuzad patch.</li>
                            <li>Added social media integration to allow for quick and easy sharing of specific hero and player pages! Share Hotstat.us with your friends!</li>
                            <li>MMR Update: 2017 Season 3 Rank display will remain disabled for the time being. In the future a broader mmr calculation system will be implemented that will reprocess matches weekly, allowing for MMR approximations to be more accurate as time goes on.</li>
                        </ul>
                        <h5>News (2017-12-20):</h5>
                        <ul>
                            <li>Rank displays for 2017 Season 3 had to be disabled due to a player reprocessing bug.</li>
                            <li>Implemented Winrate Edge % to Hero Page Matchups.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                {% include ':snippets:advertising/responsive_vertical.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{# Stylesheets #}
{% block stylesheets %}
    {{ block('stdstylesheets') }}
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ block('stdjavascripts') }}
    {#{ block('rankingsloaderjavascripts') }#}
{% endblock %}

{# Tail Javascript #}
{% block tailJavascript %}
    {# Hotstatus.advertising.internal.generateByDefault = false; TODO - uncomment once the blog loader is implemented#}
{% endblock %}

