{% block javascripts %}
    <script src="{{ asset('build/player-hero-loader.js') }}"></script>
{% endblock %}

{% block player_tab_index %}{% endblock %}
<div id="heroloader-container" class="container-fluid hotstatus-container padding-top-7">
    <div class="row">
        <div class="col">
            {% block filter %}{% endblock %}
        </div>
    </div>
    <div class="row initial-load">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 padding-sm-right-0 heroloader-container-herodata">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                {% block player_summary %}{% endblock %}
                            </div>
                            <div class="hotstatus-subcontainer">
                                <div id="hl-herodata-image-hero-composite-container" class="text-center">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                    </div>
                    <div id="hl-medals-container">{# HEROLOADER GENERATED #}</div>
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                <div class="">
                                    <span class="hl-stats-title">Average Stats</span>
                                </div>
                                <div id="average_stats">
                                    <div class="">
                                        {% block group_average_stats %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 padding-sm-left-0 heroloader-container-talents">
            <div class="row">
                <div class="col">
                    <div class="hotstatus-subcontainer">
                        <div class="row">
                            <div class="col">
                                <div id="hl-talents-container">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="hl-talent-pane-seperator"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="hl-talents-builds-container">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                    {% block advertising_horizontal_responsive_01 %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>