{% block javascripts %}
    <script src="{{ asset('build/player-loader.js') }}"></script>
{% endblock %}

<div id="playerloader-container" class="initial-load container-fluid hotstatus-container">
    <div class="row">
        <div class="col">
            {# Top Row #}
            {% block filter %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-left overflow-x-auto">
                    {# Left Pane TOP #}
                    <div class="player-leftpane-block">
                        <div id="player-leftpane-container" class="player-leftpane player-leftpane-container">
                            {# Player Summary #}
                            <div class="hotstatus-subcontainer margin-bottom-spacer-1">
                                {% block player_summary %}{% endblock %}
                            </div>
                            {# MMR PLAYERLOADER GENERATED #}
                            {# Top Heroes PLAYERLOADER GENERATED #}
                        </div>
                    </div>
                    {# Left Pane MID #}
                    <div class="player-leftpane-block">
                        <div id="player-leftpane-mid-container" class="player-leftpane player-leftpane-mid-container">
                            {# Parties PLAYERLOADER GENERATED #}
                        </div>
                    </div>
                    {# Left Pane BOT #}
                    <div class="player-leftpane-block">
                        <div id="player-leftpane-bot-container" class="player-leftpane player-leftpane-bot-container">
                            {# Parties PLAYERLOADER GENERATED #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    {# Right Pane #}
                    <div id="player-rightpane-container" class="player-rightpane-container">
                        <div id="pl-recentmatches-loader"></div>
                        {# Recent Matches PLAYERLOADER GENERATED #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {# Bottom Row #}
            <div class="text-center">
                {% block advertising_horizontal_responsive_01 %}{% endblock %}
            </div>
        </div>
    </div>
</div>