<tr>
    <td>
        Role {{ role_index }}
    </td>
    <td>
        <span class="left">Hero {{ hero_index }}</span><span class="right">55%</span>
    </td>
    <td>
        <span class="left">Hero {{ loser_index }}</span><span class="right">45%</span>
    </td>
</tr>