/* Color Palette */
.color-primary-0 { color: #112366 }	/* Main Primary color */
.color-primary-1 { color: #14329F }
.color-primary-2 { color: #162C7E }
.color-primary-3 { color: #081647 }
.color-primary-4 { color: #050D2A }

.color-secondary-1-0 { color: #2A1067 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #3D12A1 }
.color-secondary-1-2 { color: #35147F }
.color-secondary-1-3 { color: #1B0748 }
.color-secondary-1-4 { color: #10042B }

.color-secondary-2-0 { color: #084D5D }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #057791 }
.color-secondary-2-2 { color: #0A5F73 }
.color-secondary-2-3 { color: #023541 }
.color-secondary-2-4 { color: #011F26 }

.color-primary-b0 { color: #1D1F26 }	/* Main Primary color */
.color-primary-b1 { color: #484C5B }
.color-primary-b2 { color: #343741 }
.color-primary-b3 { color: #161923 }
.color-primary-b4 { color: #111420 }

.color-secondary-b1-0 { color: #201D26 }	/* Main Secondary color (1) */
.color-secondary-b1-1 { color: #4F495C }
.color-secondary-b1-2 { color: #383442 }
.color-secondary-b1-3 { color: #1A1624 }
.color-secondary-b1-4 { color: #151120 }

.color-secondary-b2-0 { color: #1A2123 }	/* Main Secondary color (2) */
.color-secondary-b2-1 { color: #405053 }
.color-secondary-b2-2 { color: #2E393B }
.color-secondary-b2-3 { color: #131E20 }
.color-secondary-b2-4 { color: #0E1A1D }

.color-statslist-toolbar { color: #3d4b52 }

/* General screen size dependent sizing */
@media screen and (max-width: 767px) {
    /*body { padding-top: 76px; }*/
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    /*body { padding-top: 90px; }*/
}
@media screen and (min-width: 992px) {
    /*body { padding-top: 76px; }*/

    .hotstatus-page-width {
        width: 60%;
        margin: auto;
    }
}

/* Advertising */
.adslot_horizontal_1 {
    display: inline-block;
    overflow: hidden;
    width: 234px;
    height: 60px;
    margin: 8px 2px 2px 0px;
}
.adslot_horizontal_2 {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin: 8px 2px 2px 0px;
}
.adslot_horizontal_3 {
    display: inline-block;
    overflow: hidden;
    width:100%;
    height:100px;
}
@media (min-width:360px) {
    .adslot_horizontal_1 {
        width: 320px; height: 100px;
    }
}
@media (min-width:768px) {
    .adslot_horizontal_1 {
        width: 728px; height: 90px;
    }
}
@media (min-width:992px) {
}

.adslot_vertical_1 {
    display: none!important;
    overflow: hidden;
    position: fixed;
    top: 180px;
    z-index: -1;
}
@media (min-width:1200px) { .adslot_vertical_1 { display: inline-block!important;z-index: 9999; width: 200px; height: 200px; } }
@media (min-width:1438px) { .adslot_vertical_1 { display: inline-block!important;z-index: 9999; width: 250px; height: 250px; } }
@media (min-width:1738px) { .adslot_vertical_1 { display: inline-block!important;z-index: 9999; width: 300px; height: 250px; } }

/* Fixes the bug of the duplicate data tables sort icon appearing on the first row of results when using bootstrap style */
.dataTables_scrollBody thead {visibility: hidden;}

/* Hides the sort icon for a datatable column where it is not desired */
.sortIconDisabled {
    background: none !important;
}

/*
 * General look and feel
 */
/* Search Text boxes */
.hotstatus-search-textbox {
    background-color: #444652;
    color: #FFFFFF;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #10042B;
    padding: 4px 8px;
    margin: 2px 4px;
}



.hotstatus-search-textbox::placeholder {
    color: #9b9eaf;
    opacity: 255;
}

/* Navigation */
#hotstatus-navbar {
    width: 100% !important;
    overflow: hidden;
    background-color: #201D26 !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #4F495C !important;
}
#hotstatus-navbar .nav-link {
    color: #FFFFFF;
    font-weight: 600;
}
#hotstatus-navbar .nav-link:hover {
    color: #8782ff;
}
#hotstatus-navbar .nav-link.active {
    background-color: #566eff;
}
#hotstatus-navbar .nav-link.active:hover {
    background-color: #6e87ff;
    color: #FFFFFF;
}
#nav-player-search-btn {
    background-color: #1B0748;
    color: #FFFFFF;
    border: 2px;
    border-color: #3D12A1;
    border-style: solid;
    margin-left: 6px;
}
.nav-stopwordwrap {
    white-space: nowrap;
    overflow: hidden !important;
}
@media (min-width:768px) {
    .nav-md-hideitem {
        display: none!important;
    }
}

/* Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 25px; /* Vertically center the text there */
    background-color: #10042B;
    color: #c6c4db;
    text-align: center;
    overflow: auto;
    overflow-wrap: normal;
}
.footer a:visited, .footer a:link, .footer a:active {
    color: #c6c4db;
    text-decoration: none;
}
.footer a:hover {
    color: #8782ff;
}
#footer-primary {
    padding-top: 6px;
}
#footer-secondary {
    color: #4a485b;
    font-size: 12px;
}
#footer-heart {
    color: #ff2a48;
}
.footer-sep {
    color: rgba(255,255,255,0.2);
}

/* General Page styling */
.hotstatus-container {
    background-color: rgba(46, 57, 59, 0.81);
    border: 2px;
    border-color: #1B0748;
    border-style: solid;
    border-radius: 4px;
}

.hotstatus-subcontainer {
    background-color: rgba(46, 57, 59, 0.4);
    border: 1px;
    border-color: #4F495C;
    border-style: solid;
    border-radius: 4px;
    padding: 7px 15px !important;
    margin: 2px 2px !important;
    overflow: hidden;
}

/* Statlist styling */
.hotstatus-datatable[id*="table"] {
    border: 0 !important;
    border-spacing: 0 !important;
    padding: 0 !important;
    background-color: rgba(46, 57, 59, 0.81); /* Interesting colors: rgba(53, 49, 88, 0.8), */
}

.hotstatus-datatable[id*="table"] tr,td,thead,th {
    padding: 2px 8px !important;
    border: 0 !important;
    border-spacing: 0 !important;
    color: #FFFFFF !important;
}

.hotstatus-datatable[id*="table"] td {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: left;
}

#hsl-table-portrait-td {
    text-align: center !important;
}

.hotstatus-datatable[id*="table"] tr:first-child {

}

.hotstatus-datatable[id*="table"] tr:nth-child(2n) {
    background-color: rgba(255,255,255,0.05);
}

.hotstatus-datatable[id*="table"] thead,th {
    /*background-color: rgba(46, 57, 59, 0.81) !important;*/
    text-align: left;
    white-space: normal!important;
    overflow: hidden!important;
}

.hotstatus-datatable[id*="table"] th {
    /*background-color: rgba(46, 57, 59, 0.81) !important;*/
    text-align: left;
    white-space: normal!important;
    overflow: hidden!important;
    padding: 0px 0px!important;
}

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    background-color: #10042B !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.dataTable.fixedHeader-floating {
    position: fixed !important;
}

table.dataTable.fixedHeader-locked {
    position: absolute !important;
}

.hsl-portrait {
    border: 2px !important;
    border-color: #151120 !important; /* Interesting colors: #5126c9,  */
    border-style: solid!important;
    width: 40px;
    height: 40px;
}

#heroes-statslist-container {
    background-color: rgba(46, 57, 59, 0.81);
    border: 2px;
    border-color: #1B0748;
    border-style: solid;
}

#heroes-statslist-toolbar {
    background-color: #3d4b52; /* Interesting colors: #6c6159, */
    position: relative;
    margin: 0px 0px;
    padding: 7px 5px;
}

#heroes-statslist-toolbar-container-search {
    margin: 2px 2px 0px 2px;
}

.heroes-statslist-toolbar-rolebutton {
    background-color: #10042B;
    font-size: 12px !important;
    margin: 10px 2px 2px 2px;
    padding: 3px 7px;
    cursor: pointer;
    border-color: #161923;
    border-radius: 4px;
    color: #FFFFFF;
}

.heroes-statslist-toolbar-subrolebutton {
    background-color: #1B0748;
    font-size: 12px !important;
    margin: 10px 2px 2px 2px;
    padding: 3px 9px;
    cursor: pointer;
    border-color: #1A1624;
    border-radius: 4px;
    color: #FFFFFF;
}

.hsl-link:link {
    color: #FFFFFF !important;
}

.hsl-link:visited {
    color: #FFFFFF !important;
}

.hsl-link:hover {
    color: #8782ff !important;
    text-decoration: none;
}

.hsl-link:active {
    color: #FFFFFF !important;
}

.hsl-number-delta-red {
    color: #af3733;
    font-size: 14px;
    white-space: nowrap;
}

.hsl-number-delta-green {
    color: #4a9b4e;
    font-size: 14px;
    white-space: nowrap;
}

.hsl-number-winrate-red {
    color: #e13f3b;
    font-size: 16px;
    white-space: nowrap;
}

.hsl-number-winrate-green {
    color: #5ce181;
    font-size: 16px;
    white-space: nowrap;
}

.hsl-number-popularity {

}

.hsl-percentbar {
    height: 4px;
}

.hsl-percentbar-winrate {
    background-color: #227d25;
}

.hsl-percentbar-popularity {
    background-color: #4da7ca;
}

/* DataTable Pagination buttons */
.page-link {
    background-color: #201D26!important;
    color: #FFFFFF!important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #4F495C !important;
}

.page-item.disabled .page-link {
    background-color: #3a3741 !important;
    color: #9b9b9b !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #4F495C !important;
}

.page-item.active .page-link {
    background-color: #566eff!important;
    color: #FFFFFF!important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #4F495C !important;
}

.page-link:hover {
    color: #8782ff!important;
}

.page-item.active .page-link:hover {
    background-color: #6e87ff!important;
    color: #FFFFFF!important;
}

/* DataTable Processing Hoverup */
.dataTables_processing{
    position:absolute;
    top:26px !important;
    left:50% !important;
    width:100% !important;
    margin-left:-50% !important;
    margin-top:-25px !important;
    padding-top:20px !important;
    text-align:center !important;
    font-size:1.2em !important;
    background-color: rgba(27, 7, 72, 0.3) !important;
    color: #1B0748 !important;
    /*background:-webkit-gradient(linear, left top, right top,
                                color-stop(0%, rgba(255,255,255,0)),
                                color-stop(25%, rgba(255,255,255,0.9)),
                                color-stop(75%, rgba(255,255,255,0.9)),
                                color-stop(100%, rgba(255,255,255,0)));
    background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);*/
}

/* DataTable sort icons using font awesome */
table.dataTable thead .sorting::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc {
    background-color: rgba(0,0,0,0.21);
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* FixedHeader */
table.dataTable.fixedHeader-floating thead .sorting_asc {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc {
    background-color: rgba(0,0,0,0.21);
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* FixedHeader */
table.dataTable.fixedHeader-floating thead .sorting_desc {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* Sort Icon for Text sorting */
table.dataTable thead .sortIcon_Text.sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f15d";
}

table.dataTable thead .sortIcon_Text.sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f15e";
}

/* Sort Icon for Number sorting */
table.dataTable thead .sortIcon_Number.sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f160";
}

table.dataTable thead .sortIcon_Number.sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f161";
}

/* Miscellaneous */
span.left {
    float: left;
}

span.right {
    float: right;
}

/*
 * Bootstrap Select And Filter Options
 */
/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #444652;
    border-color: #10042B;
    height:50px;
    line-height: 32px;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    background-color: #201D26 !important;
    display: inline-block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
}
.bootstrap-select > .dropdown-menu {
    background-color: #1b1821 !important;
    border-color: #10042B!important;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #566eff!important;
    color:#FFFFFF!important;
}
.bootstrap-select > .dropdown-toggle {
    width: 100%;
}
.bootstrap-select .check-mark {
    line-height: 14px;
}
.bootstrap-select .check-mark::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color:#8782ff;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover .check-mark::after {
    color:#FFFFFF!important;
}
.bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
}

/* Select/Deselect buttons in dropdown */

/* Custom select toggle button in dropdown */
.bs-select-toggle {
    position:relative!important;
    top:0!important;
    right:0!important;
    float:right!important;
    background-color: rgba(0, 136, 204, 0) !important;
    display: inline-block !important;
    width: 36px !important;
    height: 32px !important;
    line-height: 28px !important;
    padding: 2px !important;
    border: 1px !important;
    border-style: none !important;
    border-radius: 4px !important;
    border-color: #FF0000 !important;
    font-weight: 800 !important;
    margin: 4px 2px !important;
    color: #5c5e69 !important;
}

.filter-dropdown-image {
}

.filter-dropdown-image-gameType {
    width: 32px;
    height: 32px;
}

.filter-dropdown-image-map {
}

.filter-dropdown-image-map-title {
    margin-right: -38px;
    height: 32px;
}

.filter-dropdown-image-rank {
    width: 32px;
    height: 32px;
}

.filter-dropdown-image-margin-right-4 {
    margin-right: 4px;
}

.filter-dropdown-image-margin-right-8 {
    margin-right: 8px;
}

.filter-error {
    border-color: #FF0000!important;
}

.filter-error .filter-option {
    font-size: 26px;
}

.filter-button {
    background-color: #2c1057;
    font-size: 16px !important;
    margin: 2px 2px 5px 2px;
    padding: 3px 7px;
    line-height: 16px;
    cursor: pointer;
    border-color: #161923;
    border-radius: 4px;
    color: #FFFFFF;
    width:140px;
    height:28px;
}

.filter-button-hero-loader {
    margin: 0;
    padding: 0;
    width:100%;
}

.filter-button[disabled] {
    cursor: not-allowed;
}

.filter-button:active:enabled {
    transform:scale(.9, .9);
}

.filter-selector {
    display: inline-block;
    margin:2px;
}

/* At very small portrait size, make all filters blocks that scale to 100% width of their container, to keep things looking nice for mobile */
@media screen and (max-width: 392px) {
    div .filter-selector {
        display: block !important;
        width: 100% !important;
    }
}

/* Development Layout Styles */
.dev-row-a {
    background-color: #ff7300;
    margin: 2px;
    padding: 4px;
}

.dev-row-b {
    background-color: #545454;
    margin: 2px;
    padding: 4px;
}

/* HeroLoader */
.initial-load {
    display: none;
}

.hl-herodata-image-hero {
    width: 128px;
    height: 128px;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
}

#hl-herodata-title {
    position: absolute;
    cursor: default;
    width:100%;
    left:0px;
    top:8px;
    color:#FFFFFF;
    font-size: 13px;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

#hl-herodata-name {
    position: absolute;
    cursor: default;
    width:100%;
    left:0px;
    bottom:8px;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.tooltip-inner {
    border:1px !important;
    border-style: solid !important;
    border-color: #1B0748 !important;
}

.herodata-bio.tooltip-inner {
    border-color: #1B0748!important;
}

.hl-herodata-tooltip-role {
    color: #ff235f;
    font-size: 16px;
    font-weight: bold;
}

.hl-herodata-tooltip-universe {
    color: #289bff;
    font-size: 14px;
    font-weight: bold;
}

.hl-herodata-tooltip-difficulty {
    color: #d6ff5b;
    font-size: 12px;
    font-weight: bold;
}

.hl-herodata-rarity-Rare {
    border-color: #231acd!important;
}

.hl-herodata-rarity-Epic {
    border-color: #5909af !important;
}

.hl-herodata-rarity-Legendary {
    border-color: #ffb82d !important;
}

.hl-abilities-inner {
    display:inline-block;
    margin: 4px 8px;
}

.hl-abilities-ability {
    display:inline-block;
    position: relative;
    margin: 0px 0px;
}

.hl-abilities-ability-image {
    width:43px;
    height:43px;
    border: 1px;
    border-style: solid;
    border-radius: 22px;
}

.hl-abilities-ability-image-frame {
    position: absolute;
    left:-2px;
    top:-6px;
    width:48px;
    height:54px;
}

.hl-abilities-tooltip-name {
    color:#ffcf36;
}

.hl-abilities-tooltip-Heroic {
    color: #6a46d0;
    font-weight: bold;
}

.hl-abilities-tooltip-Trait {
    color: #25c173;
    font-weight: bold;
}

.hl-talents-tooltip-name {
    color:#ffcf36;
}

.hl-talents-talent-image {
    width:36px;
    height:36px;
    border: 2px;
    border-style: solid;
    border-radius: 12px;
    border-color: #1B0748;
    margin-right: 8px;
}

.hl-builds-talent-image {
    width:24px;
    height:24px;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #1B0748;
    margin-right: 8px;
}

.hl-talents-talent-name {
    font-size: 14px;
}

.hl-no-wrap {
    text-wrap: none;
    white-space: nowrap;
}

.hl-medals-name {
    position: relative;
    color: #85d7d0;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    z-index:3;
}

.hl-medals-image {
    position: relative;
    margin-bottom: -26px;
    margin-top: -10px;
    margin-left: -6px;
    width:48px;
    height:48px;
    z-index:1;
}

.hl-medals-percentbar {
    position: relative;
    margin-top: 0px;
    height:8px;
    background-color: #9dd7a4;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    z-index:2;
}

.hl-medals-spacer {
    margin: 20px 0px;
}

.hl-medals-percentbar-start {
    margin-top:10px;
}

.hl-medals-line {
    height: 22px;
    vertical-align: middle;
}

.hl-medals-row {
    cursor: default;
    margin-bottom: -10px;
}

.hl-row-height {
    /*line-height: 40px;*//* Had to be removed so that vertical align could do its job, useful when no vertical align*/
}

.hl-number-winrate-red {
    color: #e13f3b!important;
}

.hl-number-winrate-green {
    color: #5ce181!important;
}

.tier {
    background-color: rgba(17, 23, 25, 0.81)!important;
}

.hl-talent-pane-seperator {
    height:28px;
    margin: 0px 15px;
    background-color: rgba(17, 23, 25, 0.81)!important;
}

.hl-stats-title {
    font-size: 18px;
    color: #FFFFFF;
}

.hl-stats-label {
    font-size: 12px;
    color: #ada2c3;
}

.hl-stats-paren {
    font-size: 12px!important;
    color: #ada2c3!important;
}
.hl-stats-val {
    font-size: 14px;
    color: #a5fff8;
}

.hl-stats-pval {
    font-size: 14px;
    color: #b8ffc1;
}

.hl-graph-spacer {
    margin: 40px 0px;
}

.hl-matchups-image {
    width:24px;
    height:24px;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: #1B0748;
}

.padding-horizontal-0 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.padding-right-0 {
    padding-right: 0px!important;
}

.padding-left-0 {
    padding-left: 0px!important;
}

/* Small and up */
@media screen and (min-width: 576px) {
    .col-sm-3pt5 {
        -ms-flex: 0 0 29.166666%;
        flex: 0 0 29.166666%;
        max-width: 29.166666%;
    }

    .col-sm-8pt5 {
        -ms-flex: 0 0 70.833333%;
        flex: 0 0 70.833333%;
        max-width: 70.833333%;
    }

    .padding-sm-left-0 {
        padding-left: 0px !important;
    }

    .padding-sm-right-0 {
        padding-right: 0px !important;
    }
}

/* Medium and up */
@media screen and (min-width: 768px) {
    .herodata-bio.tooltip-inner {
        max-width:400px !important;
        width:400px !important;
    }

    .col-md-3pt5 {
        -ms-flex: 0 0 29.166666%;
        flex: 0 0 29.166666%;
        max-width: 29.166666%;
    }

    .col-md-8pt5 {
        -ms-flex: 0 0 70.833333%;
        flex: 0 0 70.833333%;
        max-width: 70.833333%;
    }

    .padding-md-left-0 {
        padding-left: 0px !important;
    }

    .padding-md-right-0 {
        padding-right: 0px !important;
    }
}

/* Large and up */
@media screen and (min-width: 992px) {
    #average_stats {
        display: block;
    }

    .col-lg-3pt5 {
        -ms-flex: 0 0 29.166666%;
        flex: 0 0 29.166666%;
        max-width: 29.166666%;
    }

    .col-lg-8pt5 {
        -ms-flex: 0 0 70.833333%;
        flex: 0 0 70.833333%;
        max-width: 70.833333%;
    }

    .padding-lg-left-0 {
        padding-left: 0px !important;
    }

    .padding-lg-right-0 {
        padding-right: 0px !important;
    }
}

.heroloader-stats-key {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
}

.heroloader-stats-value {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
}

.heroloader-toggle {
    width:24px!important;
    height:24px!important;
    padding: 0px 0px 0px 0px!important;
    margin: 4px 4px 0px 4px!important;
    border-style: none!important;
    background: none;
    color: #FFFFFF!important;
    cursor: pointer!important;
}

.heroloader-toggle:after {
    font-family: FontAwesome!important;
    font-size: 24px!important;
    content: "\f147"!important;
}

.heroloader-toggle.collapsed:after {
    font-family: FontAwesome!important;
    font-size: 24px!important;
    content: "\f196"!important;
}

.heroloader-container-herodata {
}

.heroloader-container-stats {
}

.heroloader-container-talents {
}

.heroloader-processing {
    position:absolute;
    top:26px !important;
    left:50% !important;
    width:100% !important;
    height:100% !important;
    margin-left:-50% !important;
    margin-top:-25px !important;
    padding-top:20px !important;
    text-align:center !important;
    font-size:2em !important;
    background-color: rgba(27, 7, 72, 0.3) !important;
    color: #1B0748 !important;
    z-index: 9999;
}

.psearch-region {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.psearch-player {
    color: #59a7ff;
    font-size: 16px;
}

.psearch-player:hover {
    color: #c6c1ff;
    text-decoration: solid;
}

.psearch-player-notfound {
    color: #59a7ff;
    font-size: 24px;
}

/*
 * Player Loader
 */
.horizontal-scroller {
    white-space: nowrap;
    overflow-x: auto;
}

.pl-recentmatch-bg-won {
    /*background-color: #00872b !important;*/
}

.pl-recentmatch-bg-lost {
    /*background-color: #870300 !important;*/
}

.pl-recentmatch-won {
    color: #3be159 !important;
}

.pl-recentmatch-lost {
    color: #cd2e2d !important;
}

.pl-recentmatch-container {
    padding-bottom: 5px;
}

.pl-recentmatches-container {
    /*background-color: rgba(46, 57, 59, 0.4);
    border: 1px;
    border-color: #4F495C;
    border-style: solid;
    border-radius: 4px;*/
    padding: 7px 15px !important;
    margin: 2px 2px !important;
}

#pl-recentmatch-matchloader {
    position: relative;
    width:720px;
    height:36px;
    line-height: 36px;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #384143 !important;
    border: 2px;
    border-style: solid;
    border-color: #1c2223;
    cursor:pointer;
}

.recentmatch-simplewidget {
    position: relative;
    width:720px;
    height:80px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #384143 !important;
    border: 2px;
    border-style: solid;
    border-color: #1c2223;
}

.recentmatch-simplewidget-leftpane {
    /*background-color: #162C7E*/;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left:0px;
    top:0px;
    white-space: nowrap;
    overflow: hidden;
    width: 98px;
    height: 76px;
    text-align: center;
    z-index: 1;
}

.rm-sw-lp-gameType {
    position: relative;
    margin: 0 -100%;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.rm-sw-lp-gameType-text {
    cursor: help;
}

.rm-sw-lp-date {
    position: relative;
    margin: 0 -100%;
    font-size: 10px;
    font-weight: 600;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.rm-sw-lp-date-text {
    cursor: help;
}

.rm-sw-lp-victory {
    position: relative;
    margin: 0 -100%;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.rm-sw-lp-matchlength {
    position: relative;
    margin: -2px -100%;
    font-size: 11px;
    font-weight: normal;
    cursor: default;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.recentmatch-simplewidget-heropane {
    /*background-color: #4d207e*/;
    position: absolute;
    left:98px;
    top:0px;
    white-space: nowrap;
    overflow: visible;
    width: 98px;
    height: 76px;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

.rm-sw-hp-portrait {
    margin-top:6px;
    border: 2px !important;
    border-color: #151120 !important;
    border-style: solid!important;
    width: 50px;
    height: 50px;
}

.rm-sw-hp-heroname {
    position: relative;
    margin: -2px -100%;
    font-size: 14px;
    font-weight: 600;
    cursor: default;
    color: #FFFFFF;
}

.recentmatch-simplewidget-statspane {
    /*background-color: #7e1d25;*/
    position: absolute;
    left:196px;
    top:0px;
    white-space: nowrap;
    overflow: visible;
    width: 98px;
    height: 76px;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.rm-sw-sp-inner {
    position: relative;
    width:100%;
    height:100%;
}

.rm-sw-sp-offset {
    height:15px;
    margin: 0 -100%;
}

.rm-sw-sp-kda-indiv {
    position: relative;
    margin: 0 -100%;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 7;
}

.rm-sw-sp-kda-indiv-text {
    cursor: help;
    z-index: 8;
}

.rm-sw-sp-kda-indiv-deaths {
    color: #ff8989 !important;
}

.rm-sw-sp-kda {
    position: relative;
    margin: 0 -100%;
    font-size: 12px;
    font-weight: normal;
    z-index: 7;
}

.rm-sw-sp-kda-text {
    cursor: help;
    z-index: 8;
}

.rm-sw-sp-kda-num {
    color: rgba(255, 255, 255, 0.92) !important;
}

.rm-sw-sp-medal-container {
    margin: -5px 0;
}

.rm-sw-sp-medal {
    display: inline-block;
    width:42px;
    height:42px;
}

.recentmatch-simplewidget-talentspane {
    /*background-color: #7e1d25;*/
    position: absolute;
    left:294px;
    top:0px;
    text-wrap: normal;
    overflow: visible;
    width: 182px;
    height: 76px;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.rm-sw-tp-talent-container {
    /*background-color: #7e4f2f;*/
    position:absolute;
    width:100%;
    height:26px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: left;
    vertical-align: middle;
}

.rm-sw-tp-talent-bg {
    background-color: #0c0a0f;
    position:relative;
    display:inline-block;
    width:26px;
    height:26px;
    padding: 1px 1px;
    border:1px;
    border-style:solid;
    border-color: #1B0748;
}

.rm-sw-tp-talent {
    position:absolute;
    left:0;
    top:0;
    width:24px;
    height:24px;
    cursor:help;
}

.recentmatch-simplewidget-playerspane {
    /*background-color: #7e1d25*/;
    position: absolute;
    left:476px;
    top:0px;
    text-wrap: normal;
    overflow: visible;
    width: 200px;
    height: 76px;
    padding: 0px 6px;
    text-align: center;
    z-index: 1;
}

.rm-sw-pp-inner {
    /*background-color: #7e445e*/;
    position: relative;
    width:100%;
    height:100%;
}

.rm-sw-pp-team0 {
    position:absolute;
    left:0;
    top:0;
    width:94px;
    height:70px;
}

.rm-sw-pp-team1 {
    position:absolute;
    left:94px;
    top:0;
    width:94px;
    height:70px;
}

.rm-sw-pp-player {
    position:relative;
    width:100%;
    height:15px;
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    line-height: 15px;
    text-align: left;
}

.rm-sw-pp-player-image {
    display:inline-block;
    margin-right:6px;
    width:15px;
    height:15px;
    border:1px;
    border-style:solid;
    border-color: #1B0748;
    cursor:help;
}

.rm-sw-toxic {
    margin-right: 2px;
}

.rm-sw-link {
     color: #FFFFFF;
     text-decoration: none;
 }

.rm-sw-link:hover {
    color: #8782ff;
    text-decoration: none;
}

.rm-sw-link-toxic {
    color: #d5ff3e;
    text-decoration: none;
}

.rm-sw-link-toxic:hover {
    color: #8782ff;
    text-decoration: none;
}

.rm-sw-special {
    color: #ffae38 !important;
    text-decoration: none;
    cursor: default;
}

.recentmatch-simplewidget-inspect {
    background-color: #1c2223;
    position: absolute;
    left:676px;
    top:0px;
    width: 40px;
    height: 76px;
    text-align: center;
    padding-top: 50px;
    color: #38464b;
    cursor:pointer;
}

.fullmatch-processing {
    position:relative;
    left:50% !important;
    width:100% !important;
    height:120px !important;
    padding-top: 20px;
    margin-left:-50% !important;
    text-align:center !important;
    font-size:1em !important;
    color: #494455 !important;
    z-index: 9999;
}

.recentmatch-fullmatch {
    background-color: #1c2223;
    position: relative;
    width:720px;
    margin: 0 auto;
    color: #FFFFFF;
    border: 2px;
    border-style: solid;
    border-color: #1c2223;
}

.rm-fm-team-container {
    position:relative;
    width:100%;
}

.rm-fm-rowheader {
    background-color: #0c31b0;
    position:relative;
    width:100%;
    height:40px;
    line-height: 40px;
    margin: 2px 0;
}

.rm-fm-rh-victory-container {
    background-color: #1eb0b0;
    position:absolute;
    width:80px;
    height:100%;
    left:0px;
    top:0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    cursor: default;
}

.rm-fm-rh-victory {
    color: #3be159 !important;
}

.rm-fm-rh-defeat {
    color: #cd2e2d !important;
}

.rm-fm-rh-level-container {
    background-color: #8125b0;
    position:absolute;
    width:40px;
    height:100%;
    left:80px;
    top:0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.rm-fm-rh-bans-container {
    background-color: #6db044;
    position:absolute;
    width:140px;
    height:100%;
    left:120px;
    top:0px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.rm-fm-rh-ban {
    display:inline-block;
    width: 32px;
    height: 32px;
    border:2px;
    border-style:solid;
    border-color: #1B0748;
    margin: 0px 2px 5px;
    cursor:help;
}

.rm-fm-rh-mmr-container {
    background-color: #b05734;
    position:absolute;
    width:76px;
    height:100%;
    left:640px;
    top:0px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.rm-fm-rh-mmr {
    font-size: 14px;
}

.rm-fm-row {
    background-color: #b0123c;
    position:relative;
    width:100%;
    height:40px;
    line-height: 40px;
    margin: 2px 0;
}

.rm-fm-r-heroimage-container {
    background-color: #1ab061;
    position:absolute;
    width:40px;
    height:100%;
    left:0px;
    top:0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.rm-fm-r-heroimage {
    display:inline-block;
    width: 32px;
    height: 32px;
    border:2px;
    border-style:solid;
    border-radius: 11px;
    border-color: #1B0748;
    cursor:help;
}

.rm-fm-r-herolevel {
    position: absolute;
    left:0;
    top:-14px;
    width:100%;
    color: #FFFFFF;
    font-size:12px;
    font-weight:bold;
    text-align: center;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}