/* Color Palette */
.color-primary-0 { color: #112366 }	/* Main Primary color */
.color-primary-1 { color: #14329F }
.color-primary-2 { color: #162C7E }
.color-primary-3 { color: #081647 }
.color-primary-4 { color: #050D2A }

.color-secondary-1-0 { color: #2A1067 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #3D12A1 }
.color-secondary-1-2 { color: #35147F }
.color-secondary-1-3 { color: #1B0748 }
.color-secondary-1-4 { color: #10042B }

.color-secondary-2-0 { color: #084D5D }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #057791 }
.color-secondary-2-2 { color: #0A5F73 }
.color-secondary-2-3 { color: #023541 }
.color-secondary-2-4 { color: #011F26 }

.color-primary-b0 { color: #1D1F26 }	/* Main Primary color */
.color-primary-b1 { color: #484C5B }
.color-primary-b2 { color: #343741 }
.color-primary-b3 { color: #161923 }
.color-primary-b4 { color: #111420 }

.color-secondary-b1-0 { color: #201D26 }	/* Main Secondary color (1) */
.color-secondary-b1-1 { color: #4F495C }
.color-secondary-b1-2 { color: #383442 }
.color-secondary-b1-3 { color: #1A1624 }
.color-secondary-b1-4 { color: #151120 }

.color-secondary-b2-0 { color: #1A2123 }	/* Main Secondary color (2) */
.color-secondary-b2-1 { color: #405053 }
.color-secondary-b2-2 { color: #2E393B }
.color-secondary-b2-3 { color: #131E20 }
.color-secondary-b2-4 { color: #0E1A1D }

.color-statslist-toolbar { color: #3d4b52 }

/* General screen size dependent sizing */
@media screen and (max-width: 767px) {
    /*body { padding-top: 76px; }*/
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    /*body { padding-top: 90px; }*/
}
@media screen and (min-width: 992px) {
    /*body { padding-top: 76px; }*/

    .hotstatus-page-width {
        width: 60%;
        margin: auto;
    }
}

/* Advertising */
.adslot_horizontal_1 {
    overflow: hidden;
    width: 234px;
    height: 60px;
}
@media (min-width:360px) { .adslot_horizontal_1 { width: 320px; height: 100px; } }
@media (min-width:768px) { .adslot_horizontal_1 { width: 728px; height: 90px; } }

.adslot_vertical_1 {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 180px;
}
@media (min-width:1200px) { .adslot_vertical_1 { width: 200px; height: 200px; } }
@media (min-width:1438px) { .adslot_vertical_1 { width: 250px; height: 250px; } }
@media (min-width:1738px) { .adslot_vertical_1 { width: 300px; height: 250px; } }

/* Fixes the bug of the duplicate data tables sort icon appearing on the first row of results when using bootstrap style */
.dataTables_scrollBody thead {visibility: hidden;}

/* Hides the sort icon for a datatable column where it is not desired */
.sortIconDisabled {
    background: none !important;
}

/*
 * General look and feel
 */
/* Search Text boxes */
.hotstatus-search-textbox {
    background-color: #444652;
    color: #FFFFFF;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #10042B;
    padding: 4px 8px;
    margin: 2px 4px;
}

.hotstatus-search-textbox::placeholder {
    color: #9b9eaf;
    opacity: 255;
}

/* Navigation */
#hotstatus-navbar {
    width: 100% !important;
    overflow: hidden;
    background-color: #201D26 !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #4F495C !important;
}
#hotstatus-navbar .nav-link {
    color: #FFFFFF;
    font-weight: 600;
}
#hotstatus-navbar .nav-link:hover {
    color: #8782ff;
}
#hotstatus-navbar .nav-link.active {
    background-color: #566eff;
}
#hotstatus-navbar .nav-link.active:hover {
    background-color: #6e87ff;
    color: #FFFFFF;
}
#nav-player-search-btn {
    background-color: #1B0748;
    color: #FFFFFF;
    border: 2px;
    border-color: #3D12A1;
    border-style: solid;
    margin-left: 6px;
}
.nav-stopwordwrap {
    white-space: nowrap;
    overflow: hidden !important;
}
@media (min-width:768px) {
    .nav-md-hideitem {
        display: none!important;
    }
}

/* Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 25px; /* Vertically center the text there */
    background-color: #10042B;
    color: #c6c4db;
    text-align: center;
    overflow: auto;
    overflow-wrap: normal;
}
.footer a:visited, a:link, a:active {
    color: #c6c4db;
    text-decoration: none;
}
.footer a:hover {
    color: #8782ff;
}
#footer-primary {
    padding-top: 6px;
}
#footer-secondary {
    color: #4a485b;
    font-size: 12px;
}
#footer-heart {
    color: #ff2a48;
}
.footer-sep {
    color: rgba(255,255,255,0.2);
}

/* Statlist styling */
#hsl-table {
    border: 0 !important;
    border-spacing: 0 !important;
    padding: 0 !important;
    background-color: rgba(46, 57, 59, 0.81); /* Interesting colors: rgba(53, 49, 88, 0.8), */
}

#hsl-table tr,td,thead,th {
    padding: 2px 8px !important;
    border: 0 !important;
    border-spacing: 0 !important;
    color: #FFFFFF !important;
}

#hsl-table td {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: left;
}

.hsl-table-portrait-td {
    text-align: center !important;
}

#hsl-table tr:first-child {

}

#hsl-table tr:nth-child(2n) {
    background-color: rgba(255,255,255,0.05);
}

#hsl-table thead, th {
    /*background-color: rgba(46, 57, 59, 0.81) !important;*/
    text-align: left;
    white-space: normal!important;
    overflow: hidden!important;
}

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    background-color: #10042B !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.dataTable.fixedHeader-floating {
    position: fixed !important;
}

table.dataTable.fixedHeader-locked {
    position: absolute !important;
}

.hsl-portrait {
    border: 2px !important;
    border-color: #151120 !important; /* Interesting colors: #5126c9,  */
    border-style: solid!important;
    width: 40px;
    height: 40px;
}

#heroes-statslist-container {
    background-color: rgba(46, 57, 59, 0.81);
    border: 2px;
    border-color: #1B0748;
    border-style: solid;
}

#heroes-statslist-toolbar {
    background-color: #3d4b52; /* Interesting colors: #6c6159, */
    position: relative;
    margin: 0px 0px;
    padding: 7px 5px;
}

#heroes-statslist-toolbar-container-search {
    margin: 2px 2px 0px 2px;
}

.heroes-statslist-toolbar-rolebutton {
    background-color: #10042B;
    font-size: 12px !important;
    margin: 6px 2px 2px 2px;
    padding: 3px 7px;
    cursor: pointer;
    border-color: #161923;
    border-radius: 4px;
    color: #FFFFFF;
}

.heroes-statslist-toolbar-subrolebutton {
    background-color: #1B0748;
    font-size: 12px !important;
    margin: 6px 2px 2px 2px;
    padding: 3px 9px;
    cursor: pointer;
    border-color: #1A1624;
    border-radius: 4px;
    color: #FFFFFF;
}

.hsl-number-delta-red {
    color: #af3733;
    font-size: 14px;
    white-space: nowrap;
}

.hsl-number-delta-green {
    color: #4a9b4e;
    font-size: 14px;
    white-space: nowrap;
}

.hsl-number-winrate-red {
    color: #e13f3b;
    font-size: 16px;
    white-space: nowrap;
}

.hsl-number-winrate-green {
    color: #5ce181;
    font-size: 16px;
    white-space: nowrap;
}

.hsl-number-popularity {

}

.hsl-percentbar {
    height: 4px;
}

.hsl-percentbar-winrate {
    background-color: #227d25;
}

.hsl-percentbar-popularity {
    background-color: #4da7ca;
}

/* DataTable Processing Hoverup */
.dataTables_processing{
    position:absolute;
    top:50% !important;
    left:50% !important;
    width:100% !important;
    margin-left:-50% !important;
    margin-top:-25px !important;
    padding-top:20px !important;
    text-align:center !important;
    font-size:1.2em !important;
    background-color: rgba(27, 7, 72, 0.3) !important;
    color: #1B0748 !important;
    /*background:-webkit-gradient(linear, left top, right top,
                                color-stop(0%, rgba(255,255,255,0)),
                                color-stop(25%, rgba(255,255,255,0.9)),
                                color-stop(75%, rgba(255,255,255,0.9)),
                                color-stop(100%, rgba(255,255,255,0)));
    background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);*/
}

/* DataTable sort icons using font awesome */
table.dataTable thead .sorting::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc {
    background-color: rgba(0,0,0,0.21);
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* FixedHeader */
table.dataTable.fixedHeader-floating thead .sorting_asc {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_asc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc {
    background-color: rgba(0,0,0,0.21);
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* FixedHeader */
table.dataTable.fixedHeader-floating thead .sorting_desc {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

table.dataTable thead .sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    content: "";
}

/* Sort Icon for Text sorting */
table.dataTable thead .sortIcon_Text.sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f15d";
}

table.dataTable thead .sortIcon_Text.sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f15e";
}

/* Sort Icon for Number sorting */
table.dataTable thead .sortIcon_Number.sorting_asc::before {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f160";
}

table.dataTable thead .sortIcon_Number.sorting_desc::after {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.21);
    right: 12px !important;
    content: "\f161";
}

/* Miscellaneous */
span.left {
    float: left;
}

span.right {
    float: right;
}

/*
 * Bootstrap Select And Filter Options
 */
/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
    color: #ffffff !important;
    background-color: #444652 !important;
    border-color: #10042B!important;
    height:50px;
    line-height: 32px;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    background-color: #201D26 !important;
    display: inline-block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
}
.bootstrap-select > .dropdown-menu {
    background-color: #1b1821 !important;
    border-color: #10042B!important;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #566eff!important;
    color:#FFFFFF!important;
}
.bootstrap-select > .dropdown-toggle {
    width: 100%;
}
.bootstrap-select .check-mark {
    line-height: 14px;
}
.bootstrap-select .check-mark::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color:#8782ff;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover .check-mark::after {
    color:#FFFFFF!important;
}
.bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
}

/* Select/Deselect buttons in dropdown */

/* Custom select toggle button in dropdown */
.bs-select-toggle {
    position:relative!important;
    top:0!important;
    right:0!important;
    float:right!important;
    background-color: rgba(0, 136, 204, 0) !important;
    display: inline-block !important;
    width: 36px !important;
    height: 32px !important;
    line-height: 28px !important;
    padding: 2px !important;
    border: 1px !important;
    border-style: none !important;
    border-radius: 4px !important;
    border-color: #FF0000 !important;
    font-weight: 800 !important;
    margin: 4px 2px !important;
    color: #5c5e69 !important;
}

.filter-dropdown-image {
}

.filter-dropdown-image-map {
}

.filter-dropdown-image-rank {
    width: 32px;
    height: 32px;
}

.filter-dropdown-image-margin-right-4 {
    margin-right: 4px;
}

.filter-dropdown-image-margin-right-8 {
    margin-right: 8px;
}

.filter-button {
    background-color: #2c1057;
    font-size: 16px !important;
    margin: 2px 2px 5px 2px;
    padding: 3px 7px;
    line-height: 16px;
    cursor: pointer;
    border-color: #161923;
    border-radius: 4px;
    color: #FFFFFF;
    width:140px;
    height:28px;
}