{% block javascripts %}
    <script src="{{ asset('build/hero-loader.js') }}"></script>
{% endblock %}

<div id="heroloader-container" class="initial-load container-fluid hotstatus-container">
    <div class="row">
        <div class="col">
            {% block filter %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 padding-sm-right-0 heroloader-container-herodata">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                <div id="hl-herodata-image-hero-composite-container" class="text-center">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                <div class="">
                                    <a
                                            data-toggle="collapse"
                                            data-target="#average_stats"
                                            class="heroloader-toggle d-lg-none collapsed"></a>
                                    <span class="hl-stats-title">Average Stats</span>
                                </div>
                                <div id="average_stats" class="collapse">
                                    <div class="">
                                        {% block group_average_stats %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% block advertising_horizontal_responsive_02 %}{% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                <div class="">
                                    <a
                                            data-toggle="collapse"
                                            data-target="#hl-graphs-collapse"
                                            class="heroloader-toggle d-lg-none collapsed"></a>
                                    <span class="hl-stats-title">Graphs</span>
                                </div>
                                <div id="hl-graphs-collapse" class="collapse">
                                    <div id="hl-graphs">{# HEROLOADER GENERATED #}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 padding-sm-left-0 heroloader-container-talents">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="hotstatus-subcontainer">
                                <div id="hl-abilities-container" class="text-center">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                    </div>
                    <div class="hotstatus-subcontainer">
                        <div class="row">
                            <div class="col">
                                <div id="hl-talents-container">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="hl-talent-pane-seperator"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="hl-talents-builds-container">{# HEROLOADER GENERATED #}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                    {% block advertising_horizontal_responsive_01 %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="dev-row-b">Data Table Foes Matchup</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="dev-row-a">Data Table Friends Matchup</div>
                </div>
            </div>
        </div>
    </div>
</div>