{% block javascripts %}
    <script src="{{ asset('build/hero-loader.js') }}"></script>
{% endblock %}

<div class="container-fluid hotstatus-container">
    <div class="row">
        <div class="col">
            {% block filter %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3 padding-sm-right-0 heroloader-container-herodata">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dev-row-a"><img id="hl-herodata-image-hero" src=""></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="hl-herodata-name" class="dev-row-b">{NAME}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="hl-herodata-title" class="dev-row-a">{TITLE}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="hl-herodata-desc-tagline" class="dev-row-a">{TAGLINE}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="hl-herodata-desc-bio" class="dev-row-b">{BIO}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-7 col-lg-7 padding-sm-left-0 padding-md-right-0 heroloader-container-talents">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dev-row-a">Talents</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dev-row-b">Talent Builds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 padding-md-left-0 heroloader-container-stats">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dev-row-a">
                                <div class="d-inline-block">
                                    Kills:
                                </div>
                                <div class="d-inline-block">
                                    {AVG KILLS} ({KILLS/M})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dev-row-b">
                                <div class="d-inline-block">
                                    Assists:
                                </div>
                                <div class="d-inline-block">
                                    {AVG ASSISTS} ({ASSISTS/M})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="dev-row-a">Graphs</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="dev-row-b">Data Table Foes Matchup</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="dev-row-a">Data Table Friends Matchup</div>
                </div>
            </div>
        </div>
    </div>
</div>