{% block javascripts %}
    {#<script src="{{ asset('build/hero-loader.js') }}"></script>#}
{% endblock %}

<div class="hotstatus-container">
    {% block filter %}{% endblock %}
    {% block filterbutton %}{% endblock %}
    <div>
        Testing123
    </div>
</div>