{% block javascripts %}
    <script src="{{ asset('build/heroes-statslist.js') }}"></script>
{% endblock %}

<div id="heroes-statslist">
    <table id="hsl-table" class="display table table-sm table-striped table-responsive table-bordered" width="100%">
        <thead class="thead-inverse"></thead>
    </table>
</div>