<select class="selectpicker" data-actions-box="true" data-width="300px" multiple>
    <option data-content="<img class='filter-dropdown-image' src='{{ asset('storm_ui_minimapicon_ragnaros.png', 'images') }}'>Mustard">Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
    <option>Relish1</option>
    <option>Relish2</option>
    <option>Relish3</option>
</select>
