<select class="selectpicker" data-actions-box="true" data-width="300px" title="No Maps Selected"
        data-selected-text-format="count > 4" data-count-selected-text="{0} of {1} Maps Selected" data-multiple-separator="" multiple>
    {% for key, map in filter_maps %}
        <option title="<img src='{{ asset('ui/map_icon_'~map.name_sort~'.png', 'images') }}'>"
                data-content="<img class='filter-dropdown-image-map' src='{{ asset('ui/map_icon_'~map.name_sort~'.png', 'images') }}'>{{ key }}">{{ key }}</option>
    {% endfor %}
</select>
