{% set selectOnce = true %}
<select class="selectpicker filter-selector filter-selector-date" data-width="180px" title="No Range"
        data-max-options="1" data-max-options-text="Max 1 Time Range" multiple>
    {% for key, date in filter_dates %}
        <option {% if date.selected == true and selectOnce %}{% set selectOnce = false %}selected="selected"{% endif %}
                data-content="{{ key }}"
                value="{{ key }}">{{ key }}</option>
    {% endfor %}
</select>