<select class="selectpicker filter-selector filter-selector-playerHeroesStatslist" data-width="180px" title="No Table"
        data-max-options="1" data-max-options-text="Max 1 Table" multiple>
    <option selected="selected"
            data-content="Summary"
            value="Summary">Summary</option>
    <option data-content="Performance"
            value="Performance">Performance</option>
    <option data-content="Miscellaneous"
            value="Miscellaneous">Miscellaneous</option>
</select>